.container {
  margin: 50px 20px;
}

.card {
  margin: 10px 1rem !important;
}

.cases {
  border-bottom: 20px solid rgba(0,0,255, 0.85);
}

.active {
  border-bottom: 20px solid rgba(255, 115, 0, 0.85);
}

.new {
  border-bottom: 20px solid rgba(251, 255, 0, 0.85);
}

.recovered {
  border-bottom: 20px solid rgba(0,255,0, 0.85);
}

.deaths {
  border-bottom: 20px solid rgba(255,0,0, 0.85);
}

.red {
  color: red;
}

.green {
  color: green;
}