<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem recusandae architecto necessitatibus iste nam neque rerum, dolorem consectetur ea cumque minima ex animi maiores quis nemo a. Eaque, placeat voluptatum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quibusdam mollitia consequatur provident, necessitatibus dolor, possimus qui numquam delectus nemo sit ipsa in error similique ipsam ducimus voluptates rem voluptate.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure repudiandae dignissimos corrupti voluptatum tempora tenetur molestias perspiciatis voluptatem id sapiente facere, est, suscipit, veritatis culpa quaerat commodi provident iste itaque!</p>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>